<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body style="background-color:#eeeeee">
<div>
    <table width="1000" align="center">
        <tr>
            <td align="center"style="font-size:300%;color:black"><b><i>网站还没建完看个🐔儿</i></b>
                <hr width="1000" align="center">
            </td>
        </tr>
    </table>
    <h2 style="color:black" align="center"><b>某个憨批的照片</b></h2>
    <table width="800" align="center">
        <tr>
            <td><img src="View/Photo.jpg" ></td>
        </tr>
    </table>
</div>
</body>
</html>
